<app-grid>
  <ng-container *ngFor="let item of items">
    <div class="p-2">
      <app-card>
        <ng-template #image>
          <div class="overflow-hidden h-40">
            <img class="rounded-t-lg w-full" [src]="item.image" alt="" />
          </div>
        </ng-template>
        <ng-template #body>
          <div class="flex items-center justify-items-end flex-row-reverse px-4 py-1">
            <span class="inline-flex items-center justify-items-end px-4 py-1 leading-none text-red-100 bg-red-600 rounded-full">
              {{ item.price }}
              <svg-icon src="./assets/svg/euro.svg" class="ml-1 w-4"></svg-icon>
            </span>

          </div>
          <div class="pb-6 pt-2 px-4 rounded-lg bg-white">
            <h1 class="line-clamp-2 h-16">{{ item.title }}</h1>
            <p class="line-clamp-3">
              {{ item.description }}
            </p>
          </div>
          <div class="py-2 px-4 border-t text-xs text-gray-700">
            <p class="text-xs flex items-center">
              <svg-icon src="./assets/svg/mail.svg" class="mr-1 w-4"></svg-icon>
              {{ item.email }}
              </p>
          </div>
        </ng-template>
      </app-card>
    </div>
  </ng-container>
</app-grid>
