
<div [@modal] class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="flex justify-end">
          <div (click)="close()" class="cursor-pointer">
            <svg-icon src="./assets/svg/close.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
          </div>
        </div>
        <div>
          <div class="mt-2">
            <p class="text-sm text-gray-500">
              <ng-template #content></ng-template>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
