<div class="p-2">
  <app-card>
    <ng-container image *ngTemplateOutlet="image; context:{ $implicit: favorite }">
    </ng-container>
    <ng-container body *ngTemplateOutlet="body; context:{ $implicit: favorite }">
    </ng-container>
  </app-card>
</div>

<ng-template #image let-favorite>
  <div *ngIf="favorite?.image" class="overflow-hidden h-40">
    <img class="rounded-t-lg w-full" [src]="favorite.image" alt="" />
  </div>
</ng-template>

<ng-template #body let-favorite>
  <ng-container *ngTemplateOutlet="content; context:{ $implicit: favorite }">
  </ng-container>
  <ng-container *ngTemplateOutlet="footer; context:{ $implicit: favorite }">
  </ng-container>
</ng-template>

<ng-template #content let-favorite>
  <div class="pb-6 pt-2 px-4 rounded-lg bg-white">
    <h1 class="line-clamp-2 h-16">{{ favorite?.title }}</h1>
  </div>
</ng-template>

<ng-template #footer let-favorite>
  <div class="py-2 px-4 border-t text-xs flex">
    <svg-icon (click)="removeFavorite(favorite)" src="./assets/svg/star.svg" class="mr-1 w-6 text-primary cursor-pointer"></svg-icon>
  </div>
</ng-template>
